<div class="row" style="margin-bottom:50px;">
<div class="col-md-12">
			<div class="box">
				<div class="cell slim page-box markdown">
					

					<div class="page-header">
					    <h1>关于本站</h1>
					    <p>
					    	本站使用Golang框架<a target="_blank" href="http://gowalker.org/github.com/astaxie/beego"><i class="icon-bold"></i>eego</a>开发，前端使用<a href="http://todc.github.io/todc-bootstrap/">TODC Bootstrap</a>由<a target="_blank" href="{{.AdminLink}}">@{{.AdminName}}</a>开发，邮件地址：madiks@163.com，目前为V1版本处于测试阶段。
                            <br>您可以自己注册账户进行测试，也可以使用我们的测试账户(用户名：madiks,密码：12345)注：目前仅有长春地区有数据，所以您注册的时候现居城市建议选择长春。
					    </p>
				    </div>

				    <h2>开发感受</h2>
				    <p style="font-size: 15px;">
				        我是2014年应届毕业生，这个网站项目是我的毕业设计。但是设计同城换书网站这个想法我在大二初的时候就有了，当时编程语言只会C，做网页只会用dreamweaver，css和js基本读不懂，动态网站怎么做自己根本不懂，于是我就把这个想法记到了每个程序员都会有的“小本本”上，然后就搁置了下来。</p>

                        <p class="well"><b>大二</b>参加了学校的“C#兴趣小组”，开始自学C#，学了一学期终于能拖拖控件写出点像样的东西，于是写了几个“XX信息管理系统”，有点小激动。到了大二下，想学web编程，于是在图书馆借了Asp的书开始自学，此时的“兴趣小组”已经名存实亡，没几个人了，我也开始在游戏中迷失了自己（打DOTA，你懂的），时间荒废起来犹如脱缰的野马（比喻好像不太恰当，算了），瞬间就到了<b>大三</b>，此时的我非常焦虑，怎么办？都大三了什么都不会怎么行？将来怎么找工作？要赶紧学啊，可是学什么好呢？以前掌握的东西根本不够看呐，得学个流行的，哪个技术比较流行好找工作？在这种“选择矛盾”中又是好几个星期过去了。后来阴差阳错的选择php（处于个人原因没有去学java），在学习php web编程时遇到好多问题，这个网页的源码都看不懂啊？form和table是用来干嘛的？这个div怎么调都过不来啊？你写的网页怎么这么丑啊？这个网页的动态效果怎么实现的？jquery、ajax这些名词这么高大上我怎么就是不明白呢？我不想看了，烦！就这样整个学习过程断断续续、磕磕绊绊，到了大三末期我才完成了算是比较完整的网站系统-个人博客。<b>大四</b>到了我开始接触php的一些框架如CI、Laravel，开始做一些较为复杂的东西不过说到底还是增删改查、状态判断修改。然后我就进入了长春锐迅进行了php实习，收获了很多，以前听起来很高端的API调用和设计、模拟登陆、信息抓取、PHPExcle、正则验证，还有CI的一些高级功能如钩子，chrome的前端调试工具，SVN工具的使用，项目经验，编码规范等等还有很多东西和技能，在锐迅都得到了学习和锻炼。这几月的实习使我学到了很多东西，感觉比过去几年自学的东西还要多，在这里感谢锐迅和那些指导过我的人。 
                        (<small>个人学习经历与这个项目关系不大。</small>)</p>
                       
                        <p style="font-size: 15px;">走着走着就到了<b>毕设选题</b>的时候，我又想到了“小本本”里的这个想法，以前不会做是我的借口，放弃了很多，这次借着毕业设计的推动，我想尝试一下完成自己的想法，又想学习一些新的东西。于是选择Golang作为开发语言。这就学习开始Go语言和构思网站，此时是13年12月。过了一个多月，我决定模仿一个游戏物品交换网站<a target="_blank" href="http://dota2lounge.com/">D2L</a>来设计这个项目，于是照着它的结构大致划分了几个模块，可是怎么实现呢？这数据怎么存储？Go语言我还没掌握呢？好多类似问题困扰着我，于是我的拖延症又犯了，整个项目一拖再拖。瞬间就到了5月中旬，deadline一天天临近，终于5月下旬的某一天，不能再拖了，找了个本拿了支笔开始设计数据库，第一天完成数据库设计，第二天建表部署框架搭建整个程序的基础，第三天用bootstrap设计基本界面，第四天开始写网站首页的实现，在接下来的两到三周里，我遇到了以前设想的所有问题，当时觉得这些都怎么解决，好难啊，可是到了真正写的时候总有办法来解决，哪怕是比较笨的办法（当然是暂时的），真是应了那句话“万事开头难”。终于到了6月3号整个程序基本完成，可是万万没想到又出了个问题，当我拿程序给老师和朋友们看的时候，他们都表示不太能理解我的换书模式，觉得太过复杂。我去，我完全忽视了“用户们”的想法，没有调研，直接照搬别人的交换流程就开始闷头写程序，真是傻，看来我真的需要一个产品经理（玩笑）。所以说这个程序V1版的实用性不强（其实基本是废了），但是我不想放弃，心里就开始构思新的，符合大众心理预期和使用习惯的新版本，即V2版。最近在学校，论文、毕设答辩毕业相关的事情实在是太多，我将会在这些事告一段落都开始我的V2版，期待能尽早与大家见面。End
				    </p>

				
				    <hr>
				    <h3>使用方法1</h3>
				    <ul>
					    <li>注册用户</li>
					    <li>点击“我的书架”页码的“添加图书”按钮来添加您的闲置书籍</li>
					    <li>点击“添加交换”来发布您的换书信息</li>
                        <li>在“我的交换”中每隔30分钟您可以点击bump按钮来让您的交换置顶（可以让更多的用户看到）</li>
                        <li>等待其他用户的报价</li>
                        <li>联系线下交换</li>
				    </ul>
                    <h3>使用方法2</h3>
                    <ul>
                        <li>登录后点击“搜索”</li>
                        <li>使用搜索功能通过图书ISBN来搜索你想要的书</li>
                        <li>在搜索到的交换中进行报价（将会用到您书架上的闲置书籍）</li>
                        <li>得到交换者同意后联系进行线下交换</li>
                    </ul>
				</div>
			</div>
		</div>
    </div>