<style  type="text/css">
.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}


</style>
<!-- <div>
	<div class="page-header">
		<h2>
			<b>搜索书籍</b>.
			<small>Find a cup of books.</small>
			<g:plusone></g:plusone>
		</h2>

		<form class="form-inline search-from" action="/">
			<div class="form-group col-md-6 main-search">
				<input autocomplete="off" class="typeahead form-control" type="text" placeholder="可键入书名、作者或者ISBN来查找" name="q">
			</div>
			<button class="btn btn-success btn-lg btn-search" type="submit"><i class="icon-search"></i> 手气不错</button>
		</form>
	</div>
</div> -->

<div class="row" style="padding-left:25px;padding-right:25px;">
{{if .isnotrade}}
<div class="alert alert-warning" style="margin-bottom:250px;margin-top:50px;"><h3>很抱歉，您所在的城市还没有交换，作为第一个<a href="/addbook">添加一个图书</a>吧！</h3></div>
{{end}}
{{range $k, $v := .trades}}
	<div class="tradelist row well"  title="{{$v.Remark}}">
		<h5><a href="/trade/{{$v.Id}}"><span class="glyphicon glyphicon-user">{{$v.Uname}}</span></a> 想要交换:({{$v.UpdateTime}}) <button class="pull-right addtfav btn btn-primary" act="{{$v.Id}}"><span class="glyphicon glyphicon-bookmark"></span>收藏交换</button></h5>
		<div class="col-xs-5 col-md-5 left_content">
		   <div class="row">
		   		{{range $kk, $vv := $v.Sells}}
		   		<div class="col-md-3 column productbox">
		   		    <img src="{{$vv.Bimg}}" class="img-responsive" style="height:110px;weight:80px">
		   		    <div class="producttitle">{{$vv.Bname}}</div>
		   		    <div class="productprice"><div class="pull-right"><button act="{{$vv.Bid}}" class="btn btn-danger btn-sm addbfav" role="button">收藏</button></div><div class="pricetext">{{$vv.NOrate}}</div></div>
		   		</div>
		   		{{end}}
		   		{{if $v.SHasmoney}}
		   		<div class="col-md-4 column productbox">
	   		       <img src="/static/img/rmb.jpg" class="img-responsive" style="height:110px;weight:80px">
	   		       <div class="producttitle">人民币{{$v.SMoney}}元</div>
		   		   
		   		</div>
		   		{{end}}	
		   </div>
		</div>
		<div class="col-xs-2 col-md-2" style="padding-top:35px;padding-left:20px"><img src="/static/img/arrow.png" ></img></div>
		<div class="col-xs-5 col-md-5 right_content">
			<div class="row">
			{{range $kk, $vv := $v.Wants}}
			  <div class="col-md-3 column productbox">
			      <img src="{{$vv.Bimg}}" class="img-responsive" style="height:110px;weight:80px">
			      <div class="producttitle">{{$vv.Bname}}</div>
			     
			  </div>
			{{end}}
			{{if $v.Hasanyoffer}}
			  <div class="col-md-3 column productbox">
			      <img src="/static/img/offer.png" class="img-responsive" style="height:110px;weight:80px">
			      <div class="producttitle">接受任意报价</div>
			     
			  </div>
			 {{end}}
			 {{if $v.WHasmoney}}
			  <div class="col-md-3 column productbox">
			      <img src="/static/img/rmb.jpg" class="img-responsive" style="height:110px;weight:80px">
			      <div class="producttitle">人民币{{$v.WMoney}}元</div>
			  </div>
			 {{end}}
		 	</div>
		</div>
	</div>
{{end}}
	

	
 </div>
<div class="row" style="padding-left:10px">
 <!-- <ul class="pagination">
	  <li><a href="#">&laquo;</a></li>
	  <li><a href="#">1</a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	  <li><a href="#">6</a></li>
	  <li><a href="#">7</a></li>
	  <li><a href="#">8</a></li>
	  <li><a href="#">9</a></li>
	  <li><a href="#">&raquo;</a></li>
</ul> -->
{{str2html .pagebar}}
</div>

<script type="text/javascript">
$("body").on("click",".addtfav",function(){
	act = $(this).attr("act");
	if(act != ""){
		$.ajax({
		 url:"/addfav/trade",
		 type:"post",dataType:"json",
		 timeout:"10000",
		 data:{
		   "Tid":act,
		 },success:function(data){
		   if(data.existed =="1"){
		     alert("您已收藏过该交易！");
		   }else if(data.existed == "0"){
		      alert("交换收藏成功！"); 
		    }else{
		    	window.location = "/login";
		    }
		   }
		 });
	}
});

$("body").on("click",".addbfav",function(){
	act = $(this).attr("act");
	if(act != ""){
		$.ajax({
		 url:"/addfav/book",
		 type:"post",dataType:"json",
		 timeout:"10000",
		 data:{
		   "Bid":act,
		 },success:function(data){
		   if(data.existed =="1"){
		     alert("您已收藏过该书籍！");
		   }else if(data.existed == "0"){
		      alert("书籍收藏成功！"); 
		    }else{
		    	window.location = "/login";
		    }
		   }
		 });
	}
});
</script>